<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Lecteur</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="style.css">
    
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
</head>
<body class="bg-dark">
    <div id="username" hidden="true"> <%= username %></div>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container-fluid">
            <form action="/login" method="POST">
                <input name="pseudo" type="hidden" value="<%= username%>">
                <a href="/" class="navbar-brand align-middle">ShareMyPDF</a>
                <input class="btn btn-success" type="submit" name="create" value ="Creer un salon">
                <input class="btn btn-primary" type="submit" name="join" value="Rejoindre un salon">
            </form>
            <div class="d-flex">
                <div id="room" hidden="true"><%= salon%></div>
                <span class="navbar-brand align-middle"><%= username%></span>
                <button id="invite" title="Copier le lien d'invitation" class="btn btn-success">Inviter</button>
            </div>
        </div>
    </nav>

    <div id="pdf" hidden="true" value="<%= pdf%>"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="text-light col-12 col-lg-12 col-xl-2">
                <h4 class="display-4 pb-3 mb-3 border-bottom">Liste des participants</h4>

                <div class="card text-dark mb-3">
                    <strong class="h2 card-header">Présentateur</strong>
                    <div id="presentateur" class="h3 card-body"></div>
                </div>

                <div class="card text-dark">
                    <strong class="h2 card-header">Lecteurs <span id="nombreLecteurs"></span></strong>
                    <ul id="lecteurs" class="list-group list-group-flush">
                    </ul>
                </div>
            </div>

            <div class="container col-12 col-lg-9 col-xl-8 d-flex flex-column">
                <nav class="navbar navbar-expand navbar-light bg-dark">
                    <div class="container d-flex justify-content-between px-2">
                        <div class="d-flex justify-content-between">
                            <div class="input-group w-auto d-inline-flex flex-start me-1">
                                <button id="prev" title="Retourner à la page précédente" class="moveBtn btn btn-primary"><</button>
                                <select id="pageIpt" class="form-select" style="min-width: 60px; flex: 0;">
            
                                </select>
                                <button id="next" title="Aller à la page suivante" class="moveBtn btn btn-primary">></button>
                            </div>
                            <button id="savePDF" title="Enregister le PDF avec les annotations" class="btn btn-primary">Enregistrer le PDF</button>
                        </div>
                        <div>
                            <button id="follow" title="Changer de page automatiquement avec le présentateur" class="btn btn-success">Suivre</button>
                            <button id="join" title="Retourner à la page actuelle du présentateur" class="moveBtn btn btn-info">Rejoindre</button>
                        </div>
                    </div>
                </nav>
                <canvas id="viewer"></canvas>
            </div>

            <div class="text-light col-12 col-lg-3 col-xl-2">
                <h4 class="display-4 pb-3 mb-3 border-bottom">Questions</h4>

                <div id="listeQuestions" class="text-dark">
                </div>
            </div>
        </div>
    </div>

    <div class="card position-fixed end-0 bottom-0 m-2 text-center">
        <div class="card-header">
            Envoyer une Question
        </div>
        <div class="card-body">
            <form action="#" id="myForm">
                <input class="form-control mb-2" type="text" id="sujet" name="sujet" placeholder="Sujet..." required>
                <textarea class="form-control mb-2" id="contenuQuestion" name="contenuQuestion" cols="45" rows="5" placeholder="Entrez votre question..." required></textarea>
                <button class="btn btn-primary" id="envoyer">Envoyer</button>
            </form>
        </div>
    </div>
        
    <div id="reponses" class="start-0 top-0 h-100 w-100 position-fixed" style="background: #000000c0; display: none; z-index: 50;">
        <%- include('./quizzEleve.ejs'); %>
    </div>
        
    <script type="module" src="renderHtml.js"></script>
    <script type="module" src="./boutonQuestion.js"></script>
    <script type="module" src="renderLect.js"></script>
    <script type="module" src="annotLect.js"></script>
    <script type="module" src="./quizzEleve.js"></script>
    <script type="module" src="affichageMembres.js"></script>
    <script type="module" src="savePDF.js"></script>
    <script type="module" src="copyRoomLink.js"></script>
</body>
</html>