<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Lecteur</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="lecteur.css">
    
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
</head>
<body>
    <div id="username" hidden="true"> <%= username %></div>
    <button id="prev" class="moveBtn">Précédant</button>
    <button id="next" class="moveBtn">Suivant</button>

    <input id="pageInput" type="number">
    <button id="go" class="moveBtn">Accéder</button>
    <button id="join" class="moveBtn">Rejoindre</button>
    <button id="follow">Suivre</button>
    <button id="room" title="Invitez d'autres utilisateurs'" ><%= salon%></button>
    <p id="username"><%= username%></p>
    <button id="savePDF">Enregister le PDF</button>
    <div id="pdf" hidden="true" value="<%= pdf%>"></div>
    <br>
    <!-----Panel retractable----->
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Liste des participants</h3>
            </div>
        <ul class="list-unstyled components">
            <p>Présentateur</p>
            <li id="presentateur">
            </li>
        </ul>
        <ul class="list-unstyled components" >
            <div class="overflow-auto" id="listeLecteurs">
                <p>Lecteur</p>
                <li id="lecteur">
                </li>
            </div>
        </nav>
        <canvas id="viewer" style='border : 1px solid #000'></canvas>
        <nav id="sidebar">
             <!-----Partie poser questions----->
             <div id="questions" class="overflow-auto" > <!---Au bout d'un certain point la barre se casse et s'agrandit que ce soit avec bootstrap ou avec css -->
                <ul id="listeQuestions">
                </ul>
             </div>           
                <div id="zoneQuestion">
                </br>
                <form action="#" id="myForm">
                <input type="text" id="sujet" name="sujet" placeholder="Sujet..." required>
                <textarea id="contenuQuestion" name="contenuQuestion" cols="30" rows="5" placeholder="Entrez votre question..." required></textarea>
                <button id="envoyer">Envoyer</button>
                </form>
                </div>
            </div>
        </div>
        </nav>
    </div>
    
    <!-----panel retractable----->
    <!------Partie affichage des questions------>
        
    <div id="reponses">
        <%- include('./quizzEleve.ejs'); %>
    </div>
        
    <script type="module" src="renderHtml.js"></script>
    <script type="module" src="./boutonQuestion.js"></script>
    <script type="module" src="renderLect.js"></script>
    <script type="module" src="annotLect.js"></script>
    <script type="module" src="./quizzEleve.js"></script>
    <script type="module" src="affichageMembres.js"></script>
    <script type="module" src="savePDF.js"></script>
    <script type="module" src="copyRoomLink.js"></script>
</body>
</html>