<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Presentateur</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="lecteur.css">
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
</head>
<body>
    <button id="prev" class="moveBtn">Previous</button>
    <button id="next" class="moveBtn">Next</button>

    <input id="pageInput" type="number">
    <button id="go" class="moveBtn">Go</button>
    <button id="clear">clear</button>
    <button id="quizz" onclick="createIFrame('<%= salon%>')">Voir Questions</button>
    <p id="room"><%= salon%></p>
    
    <p id="username"><%= username%></p>
    <button id="savePDF">save pdf (WIP)</button>
    <input type="color" value="#ff0000" id="color">
    <div id="pdf" hidden="true" value="<%= pdf%>"></div>
    <br>

    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Liste des participants</h3>
            </div>
        <ul class="list-unstyled components">
            <p>Présentateur</p>
            <li>
                <p id="username"><%= username%></p>
            </li>
        </ul>
        <ul class="list-unstyled components">
            <p>Lecteur</p>
            <div class="overflow-auto" id="listeLecteurs">
                <li id="lecteur">
                </li>
            </div>
        </nav>
        <canvas id="viewer" style='border : 1px solid #000'></canvas>
        <nav id="sidebar">
             <!-----Partie poser questions----->
             <div id="questions" class="overflow-auto" >
                <ul id="listeQuestions">
                </ul>
             </div>           
            </div>
        </div>
        </nav>
    </div>
    
    <!------Partie affichage des questions-->
    </ul>
    <script type="module" src="socket.js"></script>
    <script type="module" src="renderHtml.js"></script>
    <script type="module" src="renderPres.js"></script>
    <script type="module" src="annotPres.js"></script>
    <script src="openPopup.js"></script>
    <div id="iframe" style = "display: none;">
        <%- include('./quizzProf.ejs'); %>
    </div>
    <div id="resultats">
        
    </div>
    <script type="module" src="affichageMembres.js"></script>
    <script type="module" src="savePDF.js"></script>
</body>
</html>